.navbar {
    background-color:gray!important;
     width: 100%;
     border: white;
  }
  h1{
    text-align: center;
    font-family:monospace;
    color: white;
    
  }
  .form-container{
    margin-top: 50px ;
    margin-left: 20px;
  }
  .nav-link{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .nav-link:hover{
    color:blueviolet;
   
  }
  
  .navbar-brand{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .navbar-brand:hover{
    color:blueviolet;
  }
  .navbar-with-border {
    border: 1px solid white;
  }


  