body {
    background-color: rgb(78, 77, 77);
}

#song-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#song-list li{
    border: 1px solid white;
    padding: 10px;
}

#save-song {
    float: right;
    cursor: pointer;
}
h1{
    
}

.search-bar{
width: 600px;
height: 40px;
padding: 10px;
}
.search-bar:hover{
    background-color:cadetblue;
}

