
h1 {
    background-color: #3c899c!important;
     width: 100%;
     margin-bottom: 0;
     font-family: 'Courier New', Courier, monospace;
    
  }
  .information-text{
   margin-left: 40px;
   border-radius: 4px;
   margin-top: 1px;
   font-size:16px;
   line-height: 1.5;
   font-family:'Courier New', Courier, monospace;
   font-weight:  bold;
  

 
  }
  
  .song-player{
    margin-top: 20px;
    background-color: #3c899c;
  }