
h1 {
    background-color:grey!important;
     width: 100%;
     margin-bottom: 0;
     font-family: 'Courier New', Courier, monospace;
     border: 1px solid white;
    
  }
  .information-text{
   margin-left: 40px;
   border-radius: 4px;
   margin-top: 1px;
   font-size:16px;
   line-height: 1.5;
   font-family:'Courier New', Courier, monospace;
   font-weight: bold;
   color: white;
  }
  
  .song-player{
    margin-top: 20px;
    background-color: grey;
  }