
h1 {
    background-color:grey!important;
     width: 100%;
     font-family: 'Courier New', Courier, monospace;
     border: 1px solid white;
     margin-bottom: 20px;
    
  }
  .information-text{
   margin-left: 40px;
   border-radius: 4px;
   margin-top: 5px;
   font-size:16px;
   line-height: 1.5;
   font-family:'Courier New', Courier, monospace;
   font-weight: bold;
   color: white;
  }
  
  .song-player{
    margin-top: 20px;
  }

  @media only screen and (max-width: 500px) {
    .information-text {
      font-size: 13px;
    }

    h1 {
      font-size: 18px;
    }

    .song-player {
      width: 100%;
    }
  }
  